
h1 {
	text-align: center;
	color: blueviolet;
	font-family: cursive;
}

#button {
margin-left: 43%;
border: 1px solid deepskyblue;
border-radius: 2em;
margin-top: 0%;
margin-bottom: 1%;
}

.myButton {
	margin-right: 40%;
	margin-left: 3%;
	border: 1px solid deepskyblue;
	border-radius: 2em;
	float: right;
	margin-top: 0%;
	margin-bottom: -3%;
}

.container {
	max-width: 960px;
	height: 670px;
	margin: auto;
	overflow: hidden;
	border: 1px solid blue;
}

.square {
    border: 1px solid black;
	display: table-cell;
	width: 100vw;
	height:6vh;
	color: transparent;
	position: relative;
	margin: 0;
}