body{
	margin: auto;
}
h1 {
	text-align: center;
	color: blueviolet;
	font-family: cursive;
}

#button {
margin-left: 43%;
border-color: skyblue;
margin-top: 0%;
margin-bottom: 1%;

}

.myButton {
	margin-right: 40%;
	border-color: skyblue;
	float: right;
	margin-top: 0%;
	margin-bottom: -5%;
}
